
  <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
                <%=image_tag @book.image_file_name, :class => "image-big" %>
            </div>
            <div class="col-sm-7">
              <div class="product-information"><!--/product-information-->
                <!-- New /sale
                <img src="images/product-details/new.jpg" class="newarrival" alt="" /> -->
                <h2><%=@book.title%></h2>
                <p>by <%=@book.author%></p>
                <!-- Rating
                <img src="images/product-details/rating.png" alt="" /> -->
                
                  <span><%=@book.price%> VND</span>
                <p><b>Còn hàng</b></p>
                <p><b>Thể loại:</b> <%=Genre.find(@book.genre_id).name%></p>
                <%= link_to line_items_path(book_id: book) do%>
                    <button type="button" class="btn btn-fefault cart">
                    <i class="fa fa-cart"></i>
                    Add to Cart
                  </button>
                  <%end%>
                </div>
            </div>
          </div><!--/product-details-->
          
          <div class="category-tab shop-details-tab"><!--category-tab-->
            <div class="col-sm-12">
              <ul class="nav nav-tabs">
                <li><a href="#details" data-toggle="tab">Giới thiệu</a></li>
                <li><a href="#companyprofile" data-toggle="tab">Thông tin chi tiết</a></li>
                <li><a href="#reviews" data-toggle="tab">Reviews (<%=@book.reviews.count%>)</a></li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade active in" id="details" >
                <h2><%=@book.title%></h2>
                <p><%=@book.abstract%></p>
              </div>
              
              <div class="tab-pane fade" id="companyprofile" >
                
              </div>
              
              <div class="tab-pane fade " id="reviews" >
                <div class="col-sm-12">
                  <% @book.reviews.each do |review|%>
                  <ul>
                    <li><a><i class="fa fa-user"></i><%=review.name%></a></li>
                    <li><a><i class="fa fa-clock-o"></i><%=review.created_at.strftime('%r')%></a></li>
                    <li><a><i class="fa fa-calendar-o"></i><%=review.created_at.strftime("%d %b %y")%></a></li>
                  </ul>
                  <h5><b><%=review.summary%></b></h5>
                  <p><%=review.comment%></p>
                  <% end%>
                  <p><b>Write Your Review</b></p>
                  <%= form_for [@book, @book.reviews.build] do |f|%>
                    <span>
                        <%=f.text_field :summary, :placeholder => "Summary"%>
                        <%=f.text_area :comment, :placeholder => "Comment"%>
                    </span>
                    <b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
                    <%= f.submit "Submit", :class =>"btn btn-default pull-right"%>
                  <%end%>
                </div>
              </div>
              
            </div>
          </div><!--/category-tab-->
