<!DOCTYPE html>
<html>
<head>
  <title>Admin | Airbook</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'admin/navbar'%>
<%= render 'admin/sidebar'%>
<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
<body>
	<div class="pull-right">
        <%= yield %>
  </div>
</body>
</html>




